<template>
  <div class="button">
    <p><a href="https://www.youtube.com" target="_blank">{{ txt }}</a></p>
  </div>
</template>

<script>
export default {
  name: 'Button',
  props: {
    txt: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.button {
  display: inline-block;
  border : solid 1px #0094ff;
  font-size : 15px;
  font-family : Verdana;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  border-radius : 5px;
}
.button:hover {
  background-color: #080808;
  font-weight:bold;
}
</style>
