<template>
<div class='liste'>
<select name="my_html_select_box">

	<option>Bateau</option>
	<option>Date</option>
  <option>Nom</option>
</select>
</div>
</template>

<script>
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
select{
  height:2.5em;
  width:10%;
  border-radius:10px;
}
</style>
