<!-- HTML !--> 

<template>
<div class="Footer">
  <div class="copyright">

    <div class="title">
    <p>
      Copyright
    </p>
    </div>

    <div class="logo">
      <img src="../imgs/copyright.png">
    </div>

  </div>

      <h3>Organisation</h3>
      <p>
        Ce site a été fait lors de l'évènement de La nuit de l'info dans la nuit du 2 décembre 2021 au 3 décembre 2021
        <br>
        Fait par l'équipe OB1 1
      </p>
 
</div>
</template>

<!-- Java Script !-->

<script>
export default {
  name: 'Footer',
}
</script>


<!-- CSS !-->

<style scoped>

.Footer{
    background-color: rgba(0, 0, 0, 0.3);
    padding-bottom: 20px;
    color: white;

}


.logo img{
  width: 10px;
  height: 10px;

}

.logo{
  display: table-cell;
  vertical-align: middle;
}

.copyright{
  display: flex;
  justify-content: center;
}

h3 {
  margin: 10px 0 0;
}
</style>
