<template>
<div id="Header">
		<div id="logo"><a href="index.html"> <img src="../imgs/logo.png" width="29%" height="29%"></a> </div>
		<div id="nav">
			<div id="Accueil"><a href="">Accueil</a></div>
            <div id="Recherches"><a href="">Recherches</a></div>
			<div id="connexion"><a href="">Connexion</a></div>
		</div>
	</div>
</template>

<script>

</script>

<style scoped>
#nav{
	display: flex;
	justify-content: space-around;
	padding-top:2% ;
	padding-bottom: 2%;
	font-size: 25px;
	color: var(--text-primary-color);
	
	}
	
#Header{
	background-color: rgba(0, 0, 0, 0.3);
	padding-left: auto;
	padding-right: auto;
	width: 100%;
	height: 100%;
	position: sticky;
	top: 20px;
	

	}



#logo{
	display: block;
	float: left;
	height: 20%;
	width:20%;
	padding: 1%;
	}



img{
	max-width: 100%;
	max-height: 100%;
	}



#nav{
	display: flex;
	justify-content: space-around;
	padding-top:2% ;
	padding-bottom: 2%;
	font-size: 25px;
	color: white;
	font-weight: bold;
	}




#Accueil{
	margin-left: auto;
	margin-right: auto;
	padding: 1%;
	border-radius: 20px;
	}
#Accueil:hover{
	background-color: rgba(0, 0, 0, 0.3);
}



#Recherches{
	margin-left: auto;
	margin-right: auto;
	padding: 1%;
	border-radius: 20px;
	}
#Recherches:hover{
	background-color:  rgba(0, 0, 0, 0.3);
}



#connexion{
	margin-left: auto;
	margin-right: auto;
	padding: 1%;
	border-radius: 20px;
	}
#connexion:hover{
	background-color: rgba(0, 0, 0, 0.3);
}






#Header a:visited:hover{
color: white;
text-decoration: none;
	}

#Header a:visited:active{
color: white;
text-decoration: none;
	}

#Header a:link{
	text-decoration: none;
	}
</style>

