<template>
  <div>
      <label> Recherche Personne : </label>
      <input placeholder='Tapez votre recherche ici' v-model="searchValue">
      <input type="submit" value="Rechercher" v-on:click="search()" />
      <ul v-for="result in results" :key="result">
          <li>Prenom : {{result.per_prenom}}</li>
          <li>Nom : {{result.per_nom}}</li>
          <li>Date : {{result.int_date | date}}</li>
          <li>Lieu : {{result.int_lieu}}</li>
    </ul>
  </div>
</template>

<script>
import api from "../api/api"

export default {
    data() {
        return {
            results : [],
            searchValue: "",
        }
    },
    
    methods:{
        search: async function(){
          const { data } = await api.get(`/interventions/${this.searchValue}`)
            this.results = data;
        }
    }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.button {
  display: inline-block;
  border : solid 1px #0094ff;
  font-size : 15px;
  font-family : Verdana;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  border-radius : 5px;
}
.button:hover {
  background-color: #080808;
  font-weight:bold;
}
</style>
