<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
<template>
	<input type="text" placeholder="Entrez une valeur ici" id="search">
    <button type="button" @click="chercher">Chercher</button>
</template>

<script>
export default {
    methods: {
        chercher() {
            this.$emit('searching', search)
        }
    }
}
</script>

</body>
</html>
