<template>
 <div id="app">
  <a class="boutton" href="src/easteregg.vue">easteregg</a>
    <Header />  
    <router-view/>
    <Footer />
    <div class='corps'>
    <Darkmode/> 
    </div>    
  </div>

</template>

<script>
import Footer from './components/Footer.vue'
import Header from './components/Header.vue'
import Darkmode from './components/darkmode.vue'
export default {
  name: 'App',
  components: {
    Footer,
    Header,
    Darkmode
  }
}
</script>

<style>
.corps{
  display:flex;
  flex-direction:column;
  justify-content:center;
  height:29em;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
:root {
  --background-color-primary: #ebebeb;
  --background-color-secondary: #fafafa;
  --accent-color: #cacaca;
  --text-primary-color: #222;
  --element-size: 4rem;
}

/* Define styles for the root window with dark - mode preference */
:root.dark-theme {
  --background-color-primary: #1e1e1e;
  --background-color-secondary: #fafafa;
  --accent-color: #3f3f3f;
  --text-primary-color: #ddd;
  background-color:#2d2d30;
}

p {
  color: var(--text-primary-color);
}
h3{
  color: var(--text-primary-color);
}
#Header a:visited{
	color: var(--text-primary-color);
	text-decoration: none;
	}

.container-center {
  background-color: var(--background-color-primary);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  padding: 2rem 4rem;
  height: 200px;
  width: 300px;
  text-align: center;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  background-color: var(--background-color-secondary);
}
.boutton { 
	opacity:0%;
  }
</style>
